@import "./common.scss";


body {
    background: url('../assets/images/header_bg.jpg') repeat-x center top;
}

#home_header {    
    .container {
        .row {
            .header {
                height: 327px;
                // background-color: rgba(0, 0, 0, 0.2);
                .header_menu {
                    text-align: right;
                    > a {
                        @include font_a_link;
                    }
                }
    
                .header_title {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    // 강제 대문자
                    text-transform: uppercase;
                    margin-top: 55px;
                    font-family: 'NanumSquareBold', sans-serif;
                    > h1 {
                        display: inline-block;
                        font-size: $font_30;
                        color: $white_color;
                        background: $bright_sky_blue;
                        padding: 5px 30px;
                        letter-spacing: 2px;
                        font-weight: 900;
                        transition: box-shadow 0.25s ease-in-out;
                        cursor: default;
                        &:hover {
                            box-shadow:
                                inset -10em 0 0 0 $deep_dark_sky_blue,
                                inset 10em 0 0 0 $deep_dark_sky_blue;
                        }
                    }
                    > a {
                        display: inline-block;
                        font-size: $font_16;
                        color: $white_color;
                        background: $dark_sky_blue;
                        padding: 10px 20px;
                        margin-top: -7px;
                        transition: box-shadow 0.25s ease-in-out;
                        &:hover {
                            box-shadow: 
                            inset 0 0 0 5px rgba(75, 154, 191, 0.9),
                            inset 0 0 0 100px rgba(0, 0, 0, 0.1);
                        }
                    }
                }
    
                .header_icon {
                    text-align: center;
                    margin-top: 40px;
                    padding-bottom: 45px;
                    ul {
                        li {
                            display: inline;
                            margin: 0px 2px;
                            a {
                                display: inline-flex;
                                justify-content: center;
                                align-items: center;
                                position: relative;
                                background: $bg_3192BF;
                                border-radius: 50%;
                                width: 60px;
                                height: 60px;
                                line-height: 60px;
                                color: $white_color;
                                font-size: $font_35;
                                transition: all 0.3s ease;
                                span {
                                    position: absolute;
                                    left: 50%;
                                    top: -40px;
                                    transform: translateX(-50%);
                                    font-size: $font_12;
                                    line-height: 1.6;
                                    background: $bg_3192BF;
                                    padding: 3px 9px;
                                    border-radius: 6px 0px;
                                    opacity: 0;
                                    transition: all 0.3s ease;
                                    &:before {
                                        content: '';
                                        position: absolute;
                                        left: 50%;
                                        bottom: -5px;
                                        margin-left: -5px;
                                        border-top: 5px solid $bg_3192BF;
                                        border-left: 5px solid transparent;
                                        border-right: 5px solid transparent;
                                    }
                                }
                                &:hover span {
                                    opacity: 1;
                                    top: -33px;
                                }
                                &:hover {
                                    box-shadow: 
                                    inset 0 0 0 3px rgba(75, 154, 191, 0.9),
                                    inset 0 0 0 100px rgba(0, 0, 0, 0.1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#home_nav {
    display: none;
    overflow: hidden;
    padding: 25px 0px;
    .container {
        .row {
            > div {
                float: left;
                width: 40%;
                &:last-child {
                    width: 20%;
                }
                // 마지막 div에 있는 li에만 width값을 100%로 만들어줘라.
                &:last-child li {
                    width: 100%;
                }
                ol {
                    overflow: hidden;
                    li {
                        position: relative;
                        width: 50%;
                        padding-left: 8px;
                        float: left;
                        box-sizing: border-box;
                        &:before {
                            content: '';
                            position: absolute;
                            left: 0px;
                            top: 6px;
                            width: 3px;
                            height: 3px;
                            border-radius: 50%;
                            background-color: $bg_25A2D0;
                        }
                        a {
                            position: relative;
                            &:after {
                                content: '';
                                display: inline-block;
                                position: absolute;
                                bottom: 0px;
                                left: 0px;
                                width: 0px;
                                height: 1px;
                                background-color: $bg_25AAD0;
                                transition: all .2s ease-out;
                            }
                        }
                        // 바깥 li hover할때 after반응하게 만들어줘야함
                        &:hover a:after {
                            width: 100%;
                        }
                    }
                }
                h3 {
                    font-size: 18px;
                    color: $bg_25A2D0;
                    font-weight: 700;
                    margin-bottom: 4px;
                }
            }
        }
    }
}

#home_title {
    background-color: $bg_EAF7FD;
    .container {
        .title {
            position: relative;
            text-align: center;
            h2 {
                font-family: 'Nanum Brush Script', cursive;
                font-size: 39px;
                color: $bg_0093BD;
                padding: 5px 0px;
            }
            .btn {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 5px;
                right: 0px;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background-color: $bg_3182BF;
                color: $white_color;
                font-size: 35px;
                transition: all .3s ease;
                &:hover {
                    box-shadow: 
                    inset 0 0 0 3px rgba(75, 154, 191, 0.9),
                    inset 0 0 0 100px rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}

#home_contents {
    .container {
        display: grid;
        grid-template-columns: 250px calc(100% - 500px) 250px;
        border-right: 1px solid $bg_DBDBDB;
        border-left: 1px solid $bg_DBDBDB;
        > section {
            > article {
                padding: 15px;
                border-bottom: 1px solid $bg_DBDBDB;
                .col_title {
                    font-size: 20px;
                    color: $bg_2F7FA6;
                    padding-bottom: 5px;
                }
                .col_description {
                    border-bottom: 1px dashed $bg_DBDBDB;
                    padding-bottom: 15px;
                    margin-bottom: 15px;
                    line-height: 18px;
                    color: $bg_878787;
                }
                .menu {
                    > ul {
                        > li {
                            position: relative;
                            > a {
                                display: block;
                                font-size: 16px;
                                text-transform: uppercase;
                                color: $bg_878787;
                                border-bottom: 1px solid $bg_DBDBDB;
                                padding: 10px;
                                transition: box-shadow .34s ease, background .34s ease;
                                > .icon {
                                    position: absolute;
                                    right: 10px;
                                    top: 15px;
                                }
                                &:hover {
                                    box-shadow: 
                                    inset 180px 0 0 0 rgba(36, 130, 174, 0.7);
                                    color: $white_color;
                                    background: rgba(36, 130, 174, 0.9);
                                }
                            }
                        }
                    }
                }
                .notice, .notice2 {
                    position: relative;
                    > h5 {
                        font-size: $font_14;
                        color: $bg_2F7FA6;
                        padding-bottom: 5px;
                    }
                    > ul {
                        > li {
                            position: relative;
                            padding-left: 8px;
                            margin-bottom: 5px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            &:before {
                                position: absolute;
                                content: '';
                                width: 3px;
                                height: 3px;
                                top: 6px;
                                left: 0px;
                                background: $bg_449CE2;
                            }
                        }
                    }
                    .more {
                        position: absolute;
                        top: 3px;
                        right: 0px;
                        color: $bg_878787;
                        text-transform: uppercase;
                        font-size: $font_10;
                    }
                }
                .notice {
                    > ul {
                        > li {
                            white-space: nowrap;
                        }
                    }
                }
                .notice2 {
                    > ul {
                        > li {
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                        }
                    }
                }
            }
            > .col3, > .col6, > .col9 {
                border-bottom: 0px;
            }
        }
        #contents_left {
            width: 100%;
        }

        #contents_center {
            width: 100%;
            border-right: 1px solid $bg_DBDBDB;
            border-left: 1px solid $bg_DBDBDB;
            min-height: 1300px;
            > article {
                .video_contents {
                    position: relative;
                    width: 100%;
                    padding-bottom: 56.25%;
                    > iframe {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        #contents_right {
            width: 100%;
            > article {
                .side {
                    > figure {
                        > img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

#home_footer {
    border-top: 1px solid $bg_DBDBDB;
}

// 라이트박스 관련
.lightgallery-vue {
    display: flex;
    flex-wrap: wrap;
    .gallery-item {
        position: relative;
        width: 20%;
        padding: 4px;
        box-sizing: border-box;
        overflow: hidden;
        cursor: pointer;
        > img {
            width: 100%;
            height: 100%;
        }
        > em {
            position: absolute;
            bottom: -30px;
            left: 4px;
            width: calc(100% - 8px);
            text-align: center;
            opacity: 1;
            transition: all .3s ease;
            background-color: rgba(0, 0, 0, 0.77);
            color: $white_color;
        }
        &:hover > em {
            bottom: 0px;
            background: rgba(0,0,0,.57);
            font-weight: 700;
        }
        &:nth-child(1):hover > img { filter: blur(2px); }
        &:nth-child(2):hover > img { filter: brightness(50%); }
        &:nth-child(3):hover > img { filter: contrast(10%); }
        &:nth-child(4):hover > img { filter: grayscale(100%); }
        &:nth-child(5):hover > img { filter: hue-rotate(120deg); }
        &:nth-child(6):hover > img { filter: invert(100%); }
        &:nth-child(7):hover > img { filter: opacity(10%); }
        &:nth-child(8):hover > img { filter: saturate(10%); }
        &:nth-child(9):hover > img { filter: sepia(120%); }
        &:nth-child(10):hover > img { filter: sepia(120%) hue-rotate(120deg); }
    }
}

@media screen and(max-width: 1220px) {
    #home_title, #home_header, #home_nav {
        .container {
            .title {
                .btn {
                    right: 5px;
                }
            }
        }
    }

    #home_contents {
        .container {
            border-right: 0px;
            border-left: 0px;
        }
    }

    .lightgallery-vue {
        .gallery-item {
            width: 25%;
            &:nth-child(5n) {
                display: none;
            }
        }
    }
}

@media screen and(max-width: 1024px) {
    .lightgallery-vue {
        .gallery-item {
            width: 33.3333%;
            &:nth-child(5) {
                display: unset;
            }
        }
    }
}

@media screen and(max-width: 960px) {
    #home_title, #home_header, #home_nav {
        .container {
            .row {
                > div {
                    float: none;
                    width: 100%;
                    &:last-child {
                        width: 100%;
                    }
                    ol {
                        margin-bottom: 10px;
                        li {
                            width: 33.3333%;
                            &:last-child {
                                width: 33.3333%;
                            }
                        }
                    }
                }
            }
        }
    }

    #home_contents {
        .container {
            grid-template-columns: 250px 1fr;
            #contents_center {
                border-right: 0px;
            }
            #contents_right {
                display: flex;
                grid-column: auto / span 2;
                border-top: 1px solid $bg_DBDBDB;
                > article {
                    .side {
                        > figure {
                            > img {
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width: 768px) {
    #home_contents {
        .container {
            grid-template-columns: 1fr;
            #contents_center {
                border-top: 1px solid $bg_DBDBDB;
                border-left: 0px;
            }
            #contents_right {
                grid-column: auto;
            }
        }
    }
}

@media screen and(max-width: 600px) {
    #home_title, #home_header, #home_nav {
        .container {
            .row {
                > div {
                    ol {
                        li {
                            width: 50%;
                            &:last-child {
                                width: 50%;
                            }
                        }
                    }
                }
            }
        }
    }

    #home_header {
        .container {
            .row {
                .header {
                    height: auto;
                    .header_title {
                        display: none;
                    }
                    .header_icon {
                        display: none;
                    }
                }
            }
        }
    }

    #home_contents {
        .container {
            #contents_left {
                .col1 {
                    padding: 0px;
                    border-bottom: 0px;
                    .col_title {
                        display: none;
                    }
                    .col_description {
                        display: none;
                    }
                    .menu {
                        > ul {
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            > li {
                                width: 33.3333%;
                                text-align: center;
                                border-right: 1px solid $bg_DBDBDB;
                                box-sizing: border-box;
                                &:nth-child(3n) {
                                    border-right: 0px;
                                }
                                > a {
                                    color: $white_color;
                                    text-shadow: 0 0 5px rgba(0,0,0,0.7);
                                    &:hover {
                                        box-shadow: none;
                                        background: rgba(36,130,174,0.3);
                                    }
                                }
                                .icon {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .col2 {
                    background: $white_color;
                }
            }
        }
    }
    .lightgallery-vue {
        .gallery-item {
            width: 50%;
            &:nth-child(5) {
                display: none;
            }
        }
    }
}

@media screen and(max-width: 480px) {

}

@media screen and(max-width: 320px) {
    #home_title, #home_header, #home_nav {
        .container {
            .row {
                > div {
                    ol {
                        li {
                            width: 100%;
                            &:last-child {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    .lightgallery-vue {
        .gallery-item {
            width: 100%;
        }
    }
}

// 해상도에 따른 이미지 이미지
.blog {
    figure {
        img {
            width: 100%;
        }
        .img_retina {
            display: none;
        }
    }
}

.blog2 {
    .img_bg {
        background-size: cover;
        text-align: center;
        padding: 30px;
    }
}

.blog3 {
    .img_bg2 {
        background-image: url('../assets/images/blog4_@1.jpg');
        background-size: cover;
        text-align: center;
        padding: 30px;
    }
}
@media only screen and(-webkit-min-device-pixel-ratio: 1.5), only screen and(min-device-pixel-ratio: 1.5), only screen and(min-resolution: 1.5dppx) {
    .blog {
        figure {
            img {
                width: 100%;
            }
            .img_retina {
                display: initial;
            }
            .img_normal {
                display: none;
            }
        }
    }

    .blog3 {
        .img_bg2 {
            background-image: url('../assets/images/blog4_@1.jpg');
        }
    }
}

// 슬라이드 관련
.carousel__item {
    width: 100%;
    > figure {
        position: relative;
        > img {
            width: 100%;
        }
        > figcaption {
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            padding: 20px;
            text-align: left;
            background-color: rgba(0, 0, 0, 0.5);
            font-size: 18px;
            color: $white_color;
            > em {
                font-size: 28px;
                font-weight: 700;
                text-transform: uppercase;
                font-family: 'Abel', sans-serif;
                opacity: 0;
                transition: all .85s ease;
                transform: translateX(50px);
            }
            > span {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                opacity: 0;
                transition: all .85s .2s ease;
                transform: translateX(50px);
            }
        }
    }
}

.carousel__slide--active {
    .carousel__item {
        > figure {
            > figcaption {
                > em {
                    opacity: 1;
                    transform: translateX(0);
                }
                > span {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }
    }
}

.carousel__prev {
    left: 10px;
}
.carousel__next {
    right: 10px;
}

// 라이트 박스 관련
.lg-thumb, .lg-group {
    display: none;
}

.lg-content {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    width: 100%;
}